<!DOCTYPE html>
<html>
<head>
    <title>Form Submission Example</title>
</head>
<body>
<form id="myForm" method="POST" action="http://localhost:8080/v2/transaction/challenge/browser"
      enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="creq"
           value="eyAidGhyZWVEU1NlcnZlclRyYW5zSUQiOiAiZDQ2NTY0NzAtMmM1Yy00ZWFlLWFjOTAtOGMxZmM0ODRiNWM3IiwiYWNzVHJhbnNJRCI6ICJhMDBhN2E4OC1lMTJkLTQ5YzQtYTVkOS0xODkzODJmNTRkYjQiLCAibWVzc2FnZVR5cGUiOiAiQ1JlcSIsICJjaGFsbGVuZ2VXaW5kb3dTaXplIjoiMDQiLCJtZXNzYWdlVmVyc2lvbiI6ICIyLjIuMCIgfQ==">
    <button type="submit">Submit</button>
</form>


</body>
</html>
