<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Transaction Processing...</title>
</head>

<body onload="submitForm();">
<div style="text-align: center;">
    <form action="#" th:action="${notificationUrl}" method="post" name="CResForm">
        <noscript>
            <br> <br>
            <div style="text-align: center;">
                <h1>Processing your 3-D Secure Transaction</h1>
                <h2>
                    JavaScript is currently disabled or is not supported by your
                    browser.<br>
                </h2>
                <h3>Please click Submit to continue the processing of your 3-D
                    Secure transaction.</h3>
                <input type="submit" value="Submit">
            </div>
        </noscript>
        <input type="hidden" name="cres" th:if="${cRes}" th:value="${cRes}">
        <input type="hidden" name="threeDSSessionData" th:if="${threeDSSessionData}" th:value="${threeDSSessionData}">
        <input type="hidden" name="erro" th:if="${erro}" th:value="${erro}">
    </form>
</div>
</body>

<script type="text/javascript">
    function submitForm() {
        document.CResForm.submit();
    }
</script>

</html>
